# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
.env.local

# Misc
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
